.display-all-parent{
    padding-top: 6em;
    padding-bottom: 1em;
    margin:0 1rem;
    background-color: rgb(244, 228, 226);
}

.container-allpost{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    /* background-color: rgb(207, 171, 165); */
}

.all-post-card{
  /* display:flex;
  justify-content: space-around;
  flex-wrap: wrap; */
  margin: 1em ;
    
    

}